
body {
  text-align: center;
}

img{
  border-radius: 50%;;

  border: 5px black solid;
}

.header {
  background-image: url("https://picsum.photos/id/4/500/300");
  background-repeat: no-repeat;
  background-size: cover;
}

.heder .heder-inner {
  background-color: rgb(100,0,0);
}

h1{
  color: black;
  margin-top: 10 px;
}

p{
  color: black;
}
